*.o
*.so
*.crt
*.key
*.log
*.out
*.pem
*.pid
*.core
doxygen/
logs/
samples/daemon
samples/list
samples/log
samples/map
samples/options
samples/queue
samples/stack
samples/tree
samples/vector
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Makefile
